
/* - qcomments.css - */
@media screen {
/* http://biosport.ucdavis.edu/portal_css/qcomments.css?original=1 */
.discussion .comments {
color: Black !important;
text-decoration: none;
cursor: text;
}

}

